NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAFDhEYWiQzFUZTFOsofGsyH0_Y73KrrEc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ascend-my-version.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ascend-my-version
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ascend-my-version.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=681182232267
NEXT_PUBLIC_FIREBASE_APP_ID=1:681182232267:web:5de4f253397258502da54e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-8QZR2XXQH9

# Gemini AI API Key
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
